body {
	font-size: 1rem;
}
header {
	color: #ddd;
	padding: 1rem;
	display: flex;
}
h1 {
	font-size: 2rem;
	margin: 0px;
}
h2 {
	font-size: 1.8rem;
}
.race-timer-wrapper {
	padding: 1rem;
	width: 100vw;
	height: 100vh;
}
.focus-status .active, .focus-status .inactive {
	margin-left: 1rem;
	font-size: 2rem;
}
.race-timer-wrapper .focus-status {
	border: 3px solid red;
	background-color: pink;
	color: red;
}
.race-timer-wrapper:focus .focus-status {
	border: 3px solid green;
	background-color: lightgreen;
	color: green;
}
.race-timer-wrapper:focus .focus-status .active {
	display: inline;
}
.race-timer-wrapper:focus .focus-status .inactive {
	display: none;
}
.race-timer-wrapper .focus-status .active {
	display: none;
}
.race-timer-wrapper .focus-status .inactive {
	display: inline;
}
#instructions {
	font-size: 1rem;
	border: 1px solid #ccc;
	background-color: #efefef;
}
#instructions dl {
	display: flex;
	margin: 0px;
}
#instructions dl dt, #instructions dl dd {
	width: 50%;
	margin: 0px;
	padding: 0.5rem;
	text-align: center;
}
#instructions dl dd:nth-child(even) {
	border-right: 1px solid #ccc;
}
#logging {
	border: 1px solid #ddd;
	padding: 0.7rem;
	max-height: 7rem;
	overflow-x: scroll;
}
#logging ul {
	margin: 0px;
	font-size: 0.7rem;
}
table {
	width: 100%;
}
table thead tr th {
	font-size: 1rem;
	text-align: center;
}
table tbody tr {
	line-height: 4rem;
}
table tbody tr td {
	padding-left: 1rem;
}
table tbody tr:nth-child(even) {
	background-color: #ccc;
}
table tbody tr:nth-child(odd) {
	background-color: #ddd;
}
table tbody tr td:first-child {
	background-color: navy;
	color: white;
	padding: 0.5rem;
	font-weight: bold;
	text-align: center;
	width: 9rem;
}
table tbody tr td:nth-child(5) {
	font-weight: bold;
	padding-left: 1rem;
	padding-right: 2rem;
	width: 7rem;
	background-color: orange;
	text-align: center;
	color: white;
	border-top-right-radius: 34px;
	border-bottom-right-radius: 34px;
}
table tbody tr.boat-row-complete td:nth-child(5) {
	background-color: green;
}
label .ant-input-number{
	margin-left: 1em;
	width: 10em;
}
button {
	margin-top: 1em;
}